<section class="about-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow-lg border-0" style="background-color: #ffcccc;">
                    <div class="card-body">
                        <h2 class="card-title text-center text-danger">About Me</h2>
                        <p class="card-text text-justify lead">
                            Hello! I am Yashika, a passionate programmer and a student at Georgian College, pursuing my studies in Computer Science. I have a deep interest in coding and constantly seek new challenges to grow as a developer.
                        </p>
                        <p class="card-text text-justify lead">
                            My expertise lies in programming languages like Java, JavaScript, and C#.NET, with a focus on web development using frameworks such as Express.js and ASP.NET MVC.
                        </p>
                        <p class="card-text text-justify lead">
                            I am an active contributor to open-source projects on GitHub, where my repositories demonstrate a range of projects from simple applications to complex software solutions. Check out my work and contributions.
                        </p>
                        <p class="card-text text-justify lead">
                            At the moment, I am honing my frontend development skills using React.js and diving into cloud platforms like AWS to further enhance my knowledge.
                        </p>
                        <p class="card-text text-justify lead">
                            Apart from programming, I enjoy reading and playing tennis. You can connect with me on <a href="https://github.com/paramsandhu2103" class="text-danger">GitHub</a> and <a href="https://linkedin.com" class="text-danger">LinkedIn</a> to explore more about my journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
