<section class="home-section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="jumbotron bg-light shadow-lg p-5" style="background-color: #ffcccc;">
                    <h1 class="display-4 text-danger">Welcome to My Portfolio</h1>
                    <p class="lead">I'm a passionate programmer with a knack for developing innovative solutions.</p>
                    <hr class="my-4">
                    <p>Delve into my projects, learn more about my experiences, or connect with me.</p>
                    <a class="btn btn-danger btn-lg" href="/about" role="button">Learn more about me</a>
                </div>
            </div>
        </div>
    </div>
</section>
