<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/home">Home</a>
            <a class="navbar-brand" href="/about">About Me</a>
            <a class="navbar-brand" href="/project">Projects</a>
            <a class="navbar-brand" href="/contact">Contact Me</a>
        </nav>
    </header>

    <div class="container mt-4">
        {{{body}}}
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <p>&copy; 2024 Yashika. Find me on <a href="https://github.com/yashika200550751">GitHub</a> and <a href="https://linkedin.com/">LinkedIn</a></p>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
